In [77]:
# Importing Libraries
import selenium
import pandas as pd
import time

# Importing selenium webdriver 
from selenium import webdriver

# Importing required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

#Importing requests
import requests

# importing regex
import re

1. Scrape the details of most viewed videos on YouTube from Wikipedia:
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/
You need to find following details:  
A) Rank  
B) Name  
C) Artist  
D) Upload date  
E) Views

In [58]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(4)

url = "https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"
driver.get(url)
time.sleep(6)
driver.maximize_window()

In [62]:
#Creating blank list
Rank=[]
Name=[]
Artist=[]
Upload_date=[]
Views=[]

#Scraping Rank
rank=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[1]")
for i in rank:
    Rank.append(i.text)

#Scraping Name
name=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[2]")
for i in name:
    Name.append(i.text)
    
#Scraping Artist
artist=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[3]")
for i in artist:
    Artist.append(i.text)
    
    
#Scraping Views
views=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[4]")
for i in views:
    Views.append(i.text)
    
    
#Scraping Upload_date
upload_date=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[5]")
for i in upload_date:
    Upload_date.append(i.text)
    
Youtube_viewed=pd.DataFrame({})
Youtube_viewed['Rank']=Rank
Youtube_viewed['Name']=Name
Youtube_viewed['Artist']=Artist
Youtube_viewed['Upload_date']=Upload_date
Youtube_viewed['Views']=Views
Youtube_viewed

,Rank,Name,Artist,Upload_date,Views
0,1,"""Baby Shark Dance""[23]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016","9,453,134,982"
1,2,"""Despacito""[25]",Luis Fonsi,"January 12, 2017","7,572,747,360"
2,3,"""Johny Johny Yes Papa""[26]",LooLoo Kids,"October 8, 2016","5,781,348,353"
3,4,"""Shape of You""[27]",Ed Sheeran,"January 30, 2017","5,483,427,541"
4,5,"""See You Again""[28]",Wiz Khalifa,"April 6, 2015","5,284,905,560"
5,6,"""Bath Song""[31]",Cocomelon – Nursery Rhymes,"May 2, 2018","4,549,294,432"
6,7,"""Learning Colors – Colorful Eggs on a Farm""[32]",Miroshka TV,"February 27, 2018","4,513,879,675 (as of Sep 29, 2021)"
7,8,"""Masha and the Bear – Recipe for Disaster""[33]",Get Movies,"January 31, 2012","4,461,096,975"
8,9,"""Uptown Funk""[34]",Mark Ronson,"November 19, 2014","4,319,159,452"
9,10,"""Phonics Song with Two Words""[35]",ChuChu TV,"March 6, 2014","4,220,180,419"
10,11,"""Gangnam Style""[36]",Psy,"July 15, 2012","4,211,421,413"
11,12,"""Dame Tu Cosita""[38]",El Chombo,"April 5, 2018","3,633,337,215"
12,13,"""Sugar""[39]",Maroon 5,"January 14, 2015","3,565,906,701"
13,14,"""Sorry""[40]",Justin Bieber,"October 22, 2015","3,474,094,697"
14,15,"""Roar""[41]",Katy Perry,"September 5, 2013","3,444,786,615"
15,16,"""Counting Stars""[42]",OneRepublic,"May 31, 2013","3,412,577,920"
16,17,"""Thinking Out Loud""[43]",Ed Sheeran,"October 7, 2014","3,337,279,340"
17,18,"""Wheels on the Bus""[44]",Cocomelon – Nursery Rhymes,"May 24, 2018","3,291,808,512"
18,19,"""Dark Horse""[45]",Katy Perry,"February 20, 2014","3,155,611,442"
19,20,"""Faded""[46]",Alan Walker,"December 3, 2015","3,155,489,927"
20,21,"""Girls Like You""[47]",Maroon 5,"May 31, 2018","3,143,116,042"
21,22,"""Lean On""[48]",Major Lazer,"March 22, 2015","3,105,926,931"
22,23,"""Bailando""[49]",Enrique Iglesias,"April 11, 2014","3,105,539,316"
23,24,"""Shake It Off""[50]",Taylor Swift,"August 18, 2014","3,104,230,107"
24,25,"""Let Her Go""[51]",Passenger,"July 25, 2012","3,090,217,295"
25,26,"""Axel F""[52]",Crazy Frog,"June 17, 2009","3,035,828,739"
26,27,"""Mi Gente""[53]",J Balvin,"June 29, 2017","2,986,493,839"
27,28,"""Perfect""[54]",Ed Sheeran,"November 9, 2017","2,974,982,274"
28,29,"""Waka Waka (This Time for Africa)""[55]",Shakira,"June 4, 2010","2,962,613,841"
29,30,"""Hello""[56]",Adele,"October 23, 2015","2,889,107,727"

2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:   
A) Match title (I.e. 1st ODI)  
B) Series  
C) Place  
D) Date  
E) Time  
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [64]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(4)

url = "https://www.bcci.tv/"
driver.get(url)
time.sleep(4)
driver.maximize_window()

In [66]:
#click on international
international=driver.find_element_by_xpath("/html/body/div[3]/div/div[2]/div[2]/nav/ul/li[1]/div[2]")
international.click()
time.sleep(3)

# click on fixtures
fixtures= driver.find_element_by_xpath("/html/body/div[3]/div/div[2]/div[2]/nav/ul/li[1]/div[2]/div/ul/li[1]/a")
fixtures.click()
time.sleep(3)

In [70]:
#Creating Empty list
Match_title=[]
Series=[]
Place=[]
Date=[]
Time=[]

#Scraping Match_title
match_title= driver.find_elements_by_xpath("//strong[@class='fixture__name fixture__name--with-margin']")
for i in match_title:
    Match_title.append(i.text)
    
#Scraping Series
series= driver.find_elements_by_xpath("//span[@class='u-unskewed-text fixture__tournament-label u-truncated']")
for i in series:
    Series.append(i.text)
    
#Scraping Place
place= driver.find_elements_by_xpath("//p[@class='fixture__additional-info']/span")
for i in place:
    Place.append(i.text)   
    
#Scraping Date
date= driver.find_elements_by_xpath("//div[@class='fixture__full-date']")
for i in date:
    Date.append(i.text)   
    
#Scraping Time
time= driver.find_elements_by_xpath("//span[@class='fixture__time']")
for i in time:
    Time.append(i.text) 

Fixture=pd.DataFrame({})
Fixture['Match_title']=Match_title
Fixture['Series']=Series
Fixture['Place']=Place
Fixture['Date']=Date
Fixture['Time']=Time
Fixture

,Match_title,Series,Place,Date,Time
0,Match 16,2021 ICC MEN'S T20 WORLD CUP,"Dubai International Stadium, Dubai",24\nOCTOBER\n19:30 IST,19:30 IST
1,Match 28,2021 ICC MEN'S T20 WORLD CUP,"Dubai International Stadium, Dubai",31\nOCTOBER\n19:30 IST,19:30 IST
2,Match 33,2021 ICC MEN'S T20 WORLD CUP,"Zayed Cricket Stadium, Abu Dhabi",03\nNOVEMBER\n19:30 IST,19:30 IST
3,Match 37,2021 ICC MEN'S T20 WORLD CUP,"Dubai International Stadium, Dubai",05\nNOVEMBER\n19:30 IST,19:30 IST
4,Match 42,2021 ICC MEN'S T20 WORLD CUP,"Dubai International Stadium, Dubai",08\nNOVEMBER\n19:30 IST,19:30 IST
5,1st T20I,INDIA V NEW ZEALAND 2021,"Sawai Mansingh Stadium, Jaipur",17\nNOVEMBER\n19:00 IST,19:00 IST
6,2nd T20I,INDIA V NEW ZEALAND 2021,"JSCA International Stadium Complex, Ranchi",19\nNOVEMBER\n19:00 IST,19:00 IST
7,3rd T20I,INDIA V NEW ZEALAND 2021,"Eden Gardens, Kolkata",21\nNOVEMBER\n19:00 IST,19:00 IST
8,1st Test,INDIA V NEW ZEALAND 2021,"Green Park, Kanpur",25\nNOVEMBER\n09:30 IST,09:30 IST
9,2nd Test,INDIA V NEW ZEALAND 2021,"Wankhede Stadium, Mumbai",03\nDECEMBER\n09:30 IST,09:30 IST
10,1st Test,SOUTH AFRICA V INDIA 2021/2022,"New Wanderers Stadium, Johannesburg",17\nDECEMBER\n13:30 IST,13:30 IST
11,2nd Test,SOUTH AFRICA V INDIA 2021/2022,"Supersport Park, Centurion",26\nDECEMBER\n13:30 IST,13:30 IST
12,3rd Test,SOUTH AFRICA V INDIA 2021/2022,"New Wanderers Stadium, Johannesburg",03\nJANUARY\n13:30 IST,13:30 IST
13,1st ODI,SOUTH AFRICA V INDIA 2021/2022,"Boland Park, Paarl",11\nJANUARY\n14:00 IST,14:00 IST
14,2nd ODI,SOUTH AFRICA V INDIA 2021/2022,"Newlands, Cape Town",14\nJANUARY\n14:00 IST,14:00 IST
15,3rd ODI,SOUTH AFRICA V INDIA 2021/2022,"Newlands, Cape Town",16\nJANUARY\n14:00 IST,14:00 IST
16,1st T20I,SOUTH AFRICA V INDIA 2021/2022,"Newlands, Cape Town",19\nJANUARY\n19:30 IST,19:30 IST
17,2nd T20I,SOUTH AFRICA V INDIA 2021/2022,"Newlands, Cape Town",21\nJANUARY\n19:30 IST,19:30 IST
18,3rd T20I,SOUTH AFRICA V INDIA 2021/2022,"Boland Park, Paarl",23\nJANUARY\n19:30 IST,19:30 IST
19,4th T20I,SOUTH AFRICA V INDIA 2021/2022,"Boland Park, Paarl",26\nJANUARY\n19:30 IST,19:30 IST

3. Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/  
You need to find following details:  
A) Name  
B) Description   
Note: - From guru99 home page you have to reach to selenium exception handling page through code.  ,

In [48]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(4)

url = "https://www.guru99.com/"
driver.get(url)
time.sleep(6)
driver.maximize_window()

In [49]:
#clicking on testing 
Testing=driver.find_element_by_xpath("//li[@id='menu-item-3173']")
Testing.click()

# clicking on slelenium tutorial 
selenium= driver.find_element_by_xpath("//li[@id='menu-item-4622']")
selenium.click()

# Scroling page by elements name
time.sleep(4)
element = driver.find_element_by_xpath("//div[@class='entry-content single-content']/table[5]/tbody/tr[34]")
driver.execute_script("return arguments[0].scrollIntoView();", element)

#clicking on Tutotial
Tutotial= driver.find_element_by_xpath("//*[@id='post-193']/div/div/table[5]/tbody/tr[34]/td[1]/a")
Tutotial.click()

In [54]:
#Creating Emplty list
Name=[]
Description=[]

#Scrapign Name
name= driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[1]")
for i in name:
    Name.append(i.text)
    
#Scraping  Description   
description=driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[2]") 
for i in description:
    Description.append(i.text)
    
# Creating dataFrame
exception_list= pd.DataFrame({})
exception_list['Name']= Name
exception_list['Description']= Description
exception_list

,Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can’t be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n’t sen...

4. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:   
A) Rank  
B) State  
C) GSDP at current price (19-20)  
D) GSDP at current price (18-19)  
E) Share(18-19)  
F) GDP($ billion)  
Note: - From statisticstimes home page you have to reach to economy page through code.

In [29]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(4)

url = "http://statisticstimes.com/"
driver.get(url)
time.sleep(4)
driver.maximize_window()

In [34]:
#Click Economy
Economy=driver.find_element_by_xpath("//*[@id='top']/div[2]/div[2]/button")
Economy.click()

#Click India
India= driver.find_element_by_xpath("//*[@id='top']/div[2]/div[2]/div/a[3]")
India.click()

#Click on India GPD
GDP=driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[2]/ul/li[1]/a")
GDP.click()

In [47]:
#Creating empty list
Rank=[]
State=[]
GSDP_at_current_price_19_20=[]
GSDP_at_current_price_18_19=[]
Share_18_19=[]
GDP_billion=[]

#Scraping Rank
rank= driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[1]")
for i in rank:
    if i.text is None:
        Rank.append('--')
    else:
        Rank.append(i.text)
        
#Scraping State
state= driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[2]")
for i in state:
    if i.text is None:
        State.append('--')
    else:
        State.append(i.text)
                
#Scraping GSDP_at_current_price_19_20
gSDP_at_current_price_19_20= driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[3]")
for i in gSDP_at_current_price_19_20:
    if i.text is None:
        GSDP_at_current_price_19_20.append('--')
    else:
        GSDP_at_current_price_19_20.append(i.text)
        
#Scraping GSDP_at_current_price_18_19
gSDP_at_current_price_18_19= driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[4]")
for i in gSDP_at_current_price_18_19:
    if i.text is None:
        GSDP_at_current_price_18_19.append('--')
    else:
        GSDP_at_current_price_18_19.append(i.text)
        
#Scraping Share_18_19
share_18_19= driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[5]")
for i in share_18_19:
    if i.text is None:
        Share_18_19.append('--')
    else:
        Share_18_19.append(i.text)
        
#Scraping GDP_billion
gDP_billion= driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[6]")
for i in gDP_billion:
    if i.text is None:
        GDP_billion.append('--')
    else:
        GDP_billion.append(i.text)
        
# creating dataframe
GDP_India=pd.DataFrame({})
GDP_India['Rank']=Rank
GDP_India['State']=State
GDP_India['GSDP_at_current_price_19_20']=GSDP_at_current_price_19_20
GDP_India['GSDP_at_current_price_18_19']=GSDP_at_current_price_18_19
GDP_India['Share_18_19']=Share_18_19
GDP_India['GDP_billion']=GDP_billion
GDP_India

,Rank,State,GSDP_at_current_price_19_20,GSDP_at_current_price_18_19,Share_18_19,GDP_billion
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

5. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:  
A) Repository title  
B) Repository description  
C) Contributors count  
D) Language used  
Note: - From the home page you have to click on the trending option from Explore menu through code

In [6]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(4)

url = "https://github.com/ "
driver.get(url)
time.sleep(4)
driver.maximize_window()

In [7]:
Explore=driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/summary")
Explore.click()

Treading=driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul[2]/li[3]/a")
Treading.click()

In [28]:
# Creating emplty list 
Repository_title=[]
Repository_description=[]
Contributors_count=[]
Language_used=[]

#scraping Repository_title
repository_title=driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']")
for i in repository_title:
    if i.text is None:
        Repository_title.append('--')
    else:
        Repository_title.append(i.text)
        
#scraping Repository_description
repository_description=driver.find_elements_by_xpath("//p[@class='col-9 color-text-secondary my-1 pr-4']")
for i in repository_description:
    if i.text is None:
        Repository_description.append('--')
    else:
        Repository_description.append(i.text)
        

#scraping Contributors_count
contributors_count=driver.find_elements_by_xpath("//div[@class='f6 color-text-secondary mt-2']/a[2]")
for i in contributors_count:
    if i.text is None:
        Contributors_count.append('--')
    else:
        Contributors_count.append(i.text)
        

#scraping Language_used
language_used=driver.find_elements_by_xpath("//div[@class='f6 color-text-secondary mt-2']/span[1]")
for i in language_used:
    if i.text is None:
        Language_used.append('--')
    else:
        Language_used.append(i.text)
        
Treding_rep=pd.DataFrame({})
Treding_rep['Repository_title']= Repository_title
Treding_rep['Repository_description']= Repository_description
Treding_rep['Contributors_count']= Contributors_count
Treding_rep['Language_used']= Language_used
Treding_rep

,Repository_title,Repository_description,Contributors_count,Language_used
0,peng-zhihui / Dummy-Robot,我的超迷你机械臂机器人项目。,364,Built by
1,trailofbits / algo,Set up a personal VPN in the cloud,"1,917",Python
2,Snailclimb / JavaGuide,「Java学习+面试指南」一份涵盖大部分 Java 程序员所需要掌握的核心知识。准备 Jav...,"38,295",Java
3,louislam / uptime-kuma,A fancy self-hosted monitoring tool,342,JavaScript
4,vuejs / vue-next,"🖖 Vue.js is a progressive, incrementally-adopt...","4,335",TypeScript
5,babysor / MockingBird,🚀AI拟声: 5秒内克隆您的声音并生成任意语音内容 Clone a voice in 5 s...,889,JavaScript
6,facebook / flipper,A desktop debugging platform for mobile develo...,695,TypeScript
7,fatedier / frp,A fast reverse proxy to help you expose a loca...,"9,065",Go
8,ossrs / srs,"SRS is a simple, high efficiency and realtime ...","4,090",C++
9,vinta / awesome-python,"A curated list of awesome Python frameworks, l...","19,983",Python
10,yt-dlp / yt-dlp,A youtube-dl fork with additional features and...,458,Python
11,ihciah / clean-dns-bpf,基于 Rust + eBPF 丢弃 GFW DNS 污染包,40,Rust
12,sdras / awesome-actions,A curated list of awesome actions to use on Gi...,"1,002",Built by
13,Hack-with-Github / Awesome-Hacking,A collection of various awesome lists for hack...,"7,425",Built by
14,anncwb / vue-vben-admin,"A modern vue admin. It is based on Vue3, vite ...","1,813",Vue
15,Python-World / Python_and_the_Web,"Build Bots, Scrape a website or use an API to ...",217,Python
16,wimpysworld / quickemu,"Quickly create and run optimised Windows, macO...",80,Shell
17,mattiasgustavsson / dos-like,"Engine for making things with a MS-DOS feel, b...",16,C
18,apache / rocketmq,Mirror of Apache RocketMQ,"8,636",Java
19,donet5 / WebFirst,.NET CORE 代码生成器 ，Web中使用CodeFirst模式， 实体生成器，UI代码...,112,C#
20,raywenderlich / flta-materials,The projects and the materials that accompany ...,339,Dart
21,herosi / CTO,Call Tree Overviewer,19,Python
22,alibaba / Sentinel,A powerful flow control component enabling rel...,"6,128",Java
23,alibaba / spring-cloud-alibaba,Spring Cloud Alibaba provides a one-stop solut...,"6,222",Java
24,vuejs / vue,"🖖 Vue.js is a progressive, incrementally-adopt...","30,374",JavaScript

6. Scrape the details of top 100 songs on billboard.com.
Url = https://www.billboard.com/   
You have to find the following details:   
A) Song name   
B) Artist name   
C) Last week rank   
D) Peak rank   
E) Weeks on board  
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [89]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(4)

url = "https://www.billboard.com/"
driver.get(url)
time.sleep(6)
driver.maximize_window()

In [90]:
time.sleep(3)
Hot_song= driver.find_element_by_xpath("//li[@class='header__subnav__item'][3]")
Hot_song.click()
time.sleep(6)

In [91]:
# Creating Blank List
Song_name=[]
Artist_name=[]
Last_week_rank=[]
Peak_rank=[]
Weeks_on_board=[]

#Scraping Song_name
song_name= driver.find_elements_by_xpath("//span[@class='chart-element__information']/span[1]")
for i in song_name:
    if i.text is None:
        Song_name.append('--')
    else:
        Song_name.append(i.text)

#Scraping Artist_name
artist_name= driver.find_elements_by_xpath("//span[@class='chart-element__information']/span[2]")
for i in artist_name:
    if i.text is None:
        Artist_name.append('--')
    else:
        Artist_name.append(i.text)
        
#Scraping Last_week_rank
last_week_rank= driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--last']")
for i in last_week_rank:
    if i.text is None:
        Last_week_rank.append('--')
    else:
        Last_week_rank.append(i.text)
        
#Scraping Peak_rank
peak_rank= driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--peak']")
for i in peak_rank:
    if i.text is None:
        Peak_rank.append('--')
    else:
        Peak_rank.append(i.text)
        
#Scraping Weeks_on_board
weeks_on_board= driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--week']")
for i in weeks_on_board:
    if i.text is None:
        Weeks_on_board.append('--')
    else:
        Weeks_on_board.append(i.text)

Hot_Songs=pd.DataFrame({})
Hot_Songs['Song_name']=Song_name
Hot_Songs['Artist_name']=Artist_name
Hot_Songs['Last_week_rank']=Last_week_rank
Hot_Songs['Peak_rank']=Peak_rank
Hot_Songs['Weeks_on_board']=Weeks_on_board

Hot_Songs

,Song_name,Artist_name,Last_week_rank,Peak_rank,Weeks_on_board
0,My Universe,Coldplay x BTS,-,1,1
1,Stay,The Kid LAROI & Justin Bieber,1,1,12
2,Industry Baby,Lil Nas X & Jack Harlow,2,2,10
3,Way 2 Sexy,Drake Featuring Future & Young Thug,3,1,4
4,Fancy Like,Walker Hayes,5,5,15
...,...,...,...,...,...
95,Pipe Down,Drake,68,14,4
96,Papi's Home,Drake,66,8,4
97,Chosen,Blxst & Tyga Featuring Ty Dolla $ign,-,98,1
98,Toxic Punk,YoungBoy Never Broke Again,-,99,1
99,Moon,Kanye West,76,17,5

7. Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/
You have to find the following details:  
A) Name   
B) Designation  
C) Company   
D) Skills they hire for   
E) Location   
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search. All this should be done through code

In [105]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(4)

url = "https://www.naukri.com/recruiters/"
driver.get(url)
time.sleep(6)
driver.maximize_window()

In [107]:
search=driver.find_element_by_xpath("//input[@class='sugInp']")
search.send_keys('Data Science')

search_btn=driver.find_element_by_xpath("//button[@class='fl qsbSrch blueBtn']")
search_btn.click()

In [116]:
#Creating emepty list
Name=[]
Designation=[]
Company=[]
Skills_they_hire=[]
Location=[]


#Scraping Name 
name=driver.find_elements_by_xpath("//span[@class='fl ellipsis']")
for i  in name:
    Name.append(i.text)
    
#Scraping Designation 
designation=driver.find_elements_by_xpath("//span[@class='ellipsis clr']")
for i  in designation:
    Designation.append(i.text)    
    
#Scraping Company 
company=driver.find_elements_by_xpath("//p[@class='highlightable']/a[2]")
for i  in company:
    Company.append(i.text)   
    
    
#Scraping Skills_they_hire 
skills_they_hire=driver.find_elements_by_xpath("//div[@class='hireSec highlightable']")
for i  in skills_they_hire:
    Skills_they_hire.append(i.text)
    

    
#Scraping Location 
location=driver.find_elements_by_xpath("//p[@class='highlightable']/span[2]")
for i  in location:
    if i.text is None:
        
        Location.append('--')
    else:
        Location.append(i.text)
    
    

Recruiters=pd.DataFrame({})
Recruiters['Name']= Name[0:49]
Recruiters['Designation']= Designation[0:49]
Recruiters['Company']= Company[0:49]
Recruiters['Skills_they_hire']= Skills_they_hire[0:49]
Recruiters['Location']= Location[0:49]
Recruiters

,Name,Designation,Company,Skills_they_hire,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,Narasimha,Company Recruiter,Step Next Private Limited,"Data Modeling, Data Wrangling, seaborn, eda, p...",Hyderabad / Secunderabad
5,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
6,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
7,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
8,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
9,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
10,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
11,Priyanka Akiri,HR Manager,Infinitive Software Solutions Pvt.Ltd.,"Oracle Dba, Data Science, Data Warehousing, ET...",Hyderabad
12,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
13,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
14,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
15,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
16,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
17,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
18,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
19,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
20,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
21,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
22,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
23,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
24,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
25,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
26,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
27,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
28,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",Delhi
29,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Bengaluru / Bangalore
30,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",Bengaluru / Bangalore
31,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Mysoru / Mysore
32,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Hyderabad / Secunderabad
33,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,"Data Science, Machine Learning, Big Data Analy...",Ghaziabad
34,Ravi Dubey,Recruitment Manager,HyrEzy Talent Solutions LLP,Walmart Interra Skeps Expressstores indifi whi...,Bengaluru / Bangalore
35,Radha Manivasagam,HR Executive,Techcovery,"Python, Artificial Intelligence, Machine Learn...",Noida
36,Prateek Kumar,Head,Trisect,"Java, Python, Angularjs, Software Testing, Mac...",New Delhi
37,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",Chennai
38,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Aligarh
39,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Salt Lake City
40,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Pune
41,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Bengaluru / Bangalore
42,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Mumbai
43,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Indore
44,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Bengaluru / Bangalore
45,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",MYSORE
46,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",Hyderabad / Secunderabad
47,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Bengaluru / Bangalore
48,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Mumbai

In [ ]:
Location

8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/
You have to find the following details:  
A) Book name  
B) Author name  
C) Volumes sold  
D) Publisher  
E) Genre

In [55]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(4)

url = "https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/"
driver.get(url)
time.sleep(6)
driver.maximize_window()

# creating empty lists for scraping data
Book_name=[]
Author_name=[]
Volumes_sold=[]
Publisher=[]
Genre=[]

# Scraping Book_name
book_name=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[2]")
for i in book_name:
    if i.text is None:
        Book_name.append('--')
    else:
        Book_name.append(i.text)
        
# Scraping Author_name
author_name=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[3]")
for i in author_name:
    if i.text is None:
        Author_name.append('--')
    else:
        Author_name.append(i.text)
        
# Scraping Volumes_sold
volumes_sold=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[4]")
for i in volumes_sold:
    if i.text is None:
        Volumes_sold.append('--')
    else:
        Volumes_sold.append(i.text)
        
# Scraping Author_name
publisher=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[5]")
for i in publisher:
    if i.text is None:
        Publisher.append('--')
    else:
        Publisher.append(i.text)
        
# Scraping Genre
genre=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[6]")
for i in genre:
    if i.text is None:
        Genre.append('--')
    else:
        Genre.append(i.text)

Top_selling_book=pd.DataFrame({})
Top_selling_book['Book_name']=Book_name
Top_selling_book['Author_name']=Author_name
Top_selling_book['Volumes_sold']=Volumes_sold
Top_selling_book['Publisher']=Publisher
Top_selling_book['Genre']=Genre
Top_selling_book

,Book_name,Author_name,Volumes_sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

9. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name  
B) Year span  
C) Genre  
D) Run time   
E) Ratings  
F) Votes

In [74]:
driver=webdriver.Chrome("chromedriver.exe") 
url ="https://www.imdb.com/list/ls095964455/"
driver.get(url)
driver.maximize_window()

In [75]:
# Creating empty list
Name=[]
Year_span=[]
Genre=[]
Run_time=[]
Ratings=[]
Votes=[]

#Scraping Name
name=driver.find_elements_by_xpath("//h3[@class='lister-item-header']/a")
for i in name:
    Name.append(i.text)
    
#Scraping Year_span
year_span=driver.find_elements_by_xpath("//h3[@class='lister-item-header']/span[2]")
for i in year_span:
    Year_span.append(i.text)

    
#Scraping Genre
genre=driver.find_elements_by_xpath("//p[@class='text-muted text-small']/span[5]")
for i in genre:
    Genre.append(i.text)
    
    
#Scraping Run_time
run_time=driver.find_elements_by_xpath("//p[@class='text-muted text-small']/span[3]")
for i in run_time:
    Run_time.append(i.text)
    
#Scraping Ratings
ratings=driver.find_elements_by_xpath("//div[@class='ipl-rating-widget']/div/span[2]")
for i in ratings:
    Ratings.append(i.text)
    
#Scraping Votes
votes=driver.find_elements_by_xpath("//p[@class='text-muted text-small'][3]/span[2]")
for i in votes:
    Votes.append(i.text)
    
Top_shows=pd.DataFrame({})
Top_shows['Name']=Name
Top_shows['Year_span']=Year_span
Top_shows['Genre']=Genre
Top_shows['Run_time']=Run_time
Top_shows['Ratings']=Ratings
Top_shows['Votes']=Votes
Top_shows

,Name,Year_span,Genre,Run_time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"1,882,718"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"916,086"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"904,442"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"270,944"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"231,325"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"45,903"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"56,775"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"177,365"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"36,891"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"203,791"

10. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/  
You have to find the following details:   
A) Dataset name    
B) Data type  
C) Task  
D) Attribute type  
E) No of instances   
F) No of attribute  
G) Year  
Note: - from the home page you have to go to the Show All Dataset page through code.

In [26]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(4)

url = "https://archive.ics.uci.edu/"
driver.get(url)
time.sleep(6)
driver.maximize_window()

In [27]:
view_dataste= driver.find_element_by_xpath("/html/body/table[1]/tbody/tr/td[2]/span[2]/a")
view_dataste.click()
time.sleep(4)

In [50]:
# creating empty lists for scraping data
Dataset_name=[]
Data_type=[]
Task=[]
Attribute_type=[]
No_of_instances=[]
No_of_attribute=[]
Year=[]

#scraping Dataset name
data_name= driver.find_elements_by_xpath("//p[@class='normal']/b/a[1]")
for i in data_name:
    if i.text is None :
        Dataset_name.append("--") 
    else:
        Dataset_name.append(i.text)

time.sleep(4)        
#Scraping data Type
data_type=driver.find_elements_by_xpath("//table[@border='1']/tbody/tr/td[2]/p")
for i in data_type[1:]:
    if i.text is None :
        Data_type.append("--") 
    else:
        Data_type.append(i.text)

time.sleep(4) 
#Scraping Task
task=driver.find_elements_by_xpath("//table[@border='1']/tbody/tr/td[3]/p")
for i in task[1:]:
    if i.text is None :
        Task.append("--") 
    else:
        Task.append(i.text)
        
time.sleep(4) 
#Scraping Attribute_type
attribute_type=driver.find_elements_by_xpath("//table[@border='1']/tbody/tr/td[4]/p")
for i in attribute_type[1:]:
    if i.text is None :
        Attribute_type.append("--") 
    else:
        Attribute_type.append(i.text)

time.sleep(4)         
#Scraping No_of_instances
no_of_instances=driver.find_elements_by_xpath("//table[@border='1']/tbody/tr/td[5]/p")
for i in no_of_instances[1:]:
    if i.text is None :
        No_of_instances.append("--") 
    else:
        No_of_instances.append(i.text)

time.sleep(4)         
#Scraping No_of_attribute
no_of_attribute=driver.find_elements_by_xpath("//table[@border='1']/tbody/tr/td[6]/p")
for i in no_of_attribute[1:]:
    if i.text is None :
        No_of_attribute.append("--") 
    else:
        No_of_attribute.append(i.text)

time.sleep(4) 
#Scraping Year
year=driver.find_elements_by_xpath("//table[@border='1']/tbody/tr/td[7]/p")
for i in year[1:]:
    if i.text is None :
        Year.append("--") 
    else:
        Year.append(i.text)
        
data_dataset=pd.DataFrame({})
data_dataset['Dataset_name']= Dataset_name
data_dataset['Data_type']= Data_type
data_dataset['Task']= Task
data_dataset['Attribute_type']= Attribute_type
data_dataset['No_of_instances']= No_of_instances
data_dataset['No_of_attribute']= No_of_attribute
data_dataset['Year']= Year

In [51]:
data_dataset

,Dataset_name,Data_type,Task,Attribute_type,No_of_instances,No_of_attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
583,in-vehicle coupon recommendation,Multivariate,Classification,,12684,23,2020
584,Gait Classification,Multivariate,Classification,Real,48,321,2020
585,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
586,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
587,Synchronous Machine Data Set,Multivariate,Regression,Real,557,5,2021